@import "tailwindcss";

@plugin "daisyui" {
  themes: [ {
    bookworm: {
      "primary": "#8B4513",
        "secondary": "#D7CCC8",
        "accent": "#2E7D32",
        "neutral": "#3E2723",
        "base-100": "#FDF5E6", // Old Lace (Paper feel)
        "info": "#3ABFF8",
        "success": "#36D399",
        "warning": "#FBBD23",
        "error": "#F87272",
    }

    ,
  }

  ,
  "dark",
  ];
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}